.open-sans-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;

}
.header{
    background-color: #FFF8F3;
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: center left,right bottom;
}

.color {
    color: #FD6E0A;
}

.mary {
    font-weight: 800;
    font-size: 45px;
    margin-top: 51px;
    margin-left: 192px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dark2{
    color: #474747;
    font-weight: 400px ;
    font-size: 20px;
    margin-top: 297px;
    height: 15px;
}

nav li{
    list-style: none;
    margin-right: 51px;
    
}

nav a{
    text-decoration: none;
    align-items: center;
}

nav ul{
    display: flex;
    align-items: center;
    
}

.hire{
    font-weight: 600px;
    font-size: 20px;
    margin-top: 50px;
    margin-right: 200px;
}

.btn{
    margin-right: 15px;
    color: white;
    background-color: #FD6E0A;
    width: 150px;
    height: 64px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
    border:none
    
}

.iam{
    display: flex;
    justify-content: space-between;
    margin: 0 36px 0 196px;
}

.png{
    width: 584px;
    height: 676px;
    margin: 161px 37px 0 520px;
}

.a{
    font-weight: 600px;
    font-size: 45px;
}

.m{
    font-weight: bold;
    font-size: 85px;
}

.p{
    color: #757575;
}

.me{
    color: #181818;
    font-weight: bold;
    font-size: 35px;
}

.bg{
    background-color: #FFF8F3;
    margin-top: 130px;
    margin-bottom: 130px;
    border-radius: 10px;
    padding: 136px 200px;
}

.about{
    color: #181818;
    font-weight: bold;
    font-size: 35px;
}

.pra{
    color: #757575;
}
main{
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    display: flex;
}

.div{
    display: flex;
    justify-content: space-around;
}

.and{
    font-weight: 600;
    font-size: 20px;
}

.name{
    color: #757575;

}

.what{
    font-weight: bold;
    font-size: 35px;
    color: #181818;
}

.have{
    color: #757575;
}

.section{
    text-align: center;
    margin: 0 550px 0 550px;
}

.icon{
    display: flex;
    margin: 50px 400px ;
    gap: 24px;
    padding: 30px;
}
.sha{
    /* border: 1px solid; */
    box-shadow: 0 6px 50px 0 rgba(0,0,0,0.06);
    padding: 25px 25px;
    border-radius: 5px;
}

.class{
    display: flex;
    gap: 24px;
    margin: 100px 430px ;
}

.sum{
    text-align: center;
    font-weight: bold;
    font-size: 35px;
    color: #181818;
}

.cls{
    gap: 27px;
}

.edu{
    font-weight: bold;
    font-size: 30px;
    color: rgba(71, 71, 71, 1);
    margin-bottom: 30px;
}

.du{
    font-weight: bold;
    font-size: 25px;
    color: rgba(71, 71, 71, 1);;
    margin-bottom: 10px;
}

.d{
    font-weight: 600;
    font-size: 20px;
    color: #757575;
    margin-top: 10px;
}

.b{
    color: #757575;

}

.t{
    background-color: #FFF8F3;
    display: flex;
    padding-right: 420px;
    padding-left: 420px;
    gap: 100px;
}

.l{
    color: #181818;
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 20px;
}

.e{
    color: #474747;
    margin-top: 20px;
}
.footer img{
}


.dum{
    margin-right: 20px;
}

.c3{
    font-weight: bold;
    font-size: 35px;
}


.fom{
    /* display: inline-block; */
    width: 460px;
    height: 60px;
    padding-left: 25px;
    margin-bottom: 24px;

    border: none;
}

.fo{
    width: 460px;
    height: 180px;
    padding-top: 18px;
    padding-left: 30px;
    border: none;

}

.bt{
    margin-top: 25px;
}